<div ng-hide="editItem" class="dz_protectList">
	
	<!--table表格-->
	<div class="yx-table margin-top10 DNZLCurrentTable">
		<table class="yx-tableInfo">
			<thead>
				<tr>
					<td>模块编号</td>
					<td>模块类型</td>
					<td>名称</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody style="max-height: 590px;">
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit1'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit2'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit3'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit1'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit2'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit3'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit1'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit2'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word" ng-click="editItem='dz_protectEdit3'">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<select name="">
							<option value="">单通道过流保护</option>
							<option value="">三相式过流保护</option>
							<option value="">电容投切控制器</option>
						</select>
					</td>
					<td>
						<input type="text" />
					</td>
					<td>
						<a class="hot-word">配置</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div ng-show="editItem=='dz_protectEdit1'" class="yx-appContainer dz_protectEdit c2hasFilter">
	<!--编辑面板-->
	<div class="yx-appPanel yx-appEditPanel margin-bottom10">
		<div class="yx-appPanel-body no-top">
			<table class="editTable">
				<tr class="title">
					<td>
						<div class="urlBack" ng-click="editItem=''">
							<span class="icon iconfont icon-shiliangzhinengduixiang4"></span>
							返回
						</div>
					</td>
					<td  colspan="2">配置单通道过流保护</td>
				</tr>
				<tr>
					<td>保护编号</td>
					<td>1</td>
				</tr>
				<tr>
					<td>保护名称</td>
					<td>过流就跳闸</td>
				</tr>
				<tr>
					<td>模拟量通道</td>
					<td>
						<select name="" id="">
							<option value="">DL1</option>
							<option value="">DL1</option>
							<option value="">DL1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="textTop">过流定值</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>时间定值</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>跳闸输出通道</td>
					<td>
						<select name="">
							<option value="">J2</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>由开入量闭锁保护</td>
					<td>
						<select name="">
							<option value="">K1</option>
						</select>
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
				<tr>
					<td>由跳位开入量确认跳闸</td>
					<td>
						<select name="">
							<option value="">K2</option>
						</select>
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="yx-appPanel-footer">
			<button class="yxBtn yxBtn-Active yxBtn-xs" ng-Disabled="submiting" ng-click="exportForm()">
			    <div ng-hide="submiting">保存</div>
			    <div ng-show="submiting">
			        <span class="fa fa-spin fa-spinner"></span> 请求中...
			    </div>
			</button>
		</div>
	</div>
</div>
<div ng-show="editItem=='dz_protectEdit2'" class="yx-appContainer dz_protectEdit c2hasFilter">
	<!--编辑面板-->
	<div class="yx-appPanel yx-appEditPanel margin-bottom10">
		<div class="yx-appPanel-body no-top">
			<table class="editTable">
				<tr class="title">
					<td>
						<div class="urlBack" ng-click="editItem=''">
							<span class="icon iconfont icon-shiliangzhinengduixiang4"></span>
							返回
						</div>
					</td>
					<td colspan="2">配置三相过流保护</td>
				</tr>
				<tr>
					<td>保护编号</td>
					<td>1</td>
				</tr>
				<tr>
					<td>保护名称</td>
					<td>过流就跳闸2</td>
				</tr>
				<tr>
					<td>模拟量组</td>
					<td>
						<select name="" id="">
							<option value="">DL1</option>
							<option value="">DL1</option>
							<option value="">DL1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="textTop">过流定值</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>时间定值</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>跳闸输出通道</td>
					<td>
						<select name="">
							<option value="">J2</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>由开入量闭锁保护</td>
					<td>
						<select name="">
							<option value="">K1</option>
						</select>
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
				<tr>
					<td>由跳位开入量确认跳闸</td>
					<td>
						<select name="">
							<option value="">K2</option>
						</select>
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
			</table>
		</div>
		<div class="yx-appPanel-footer">
			<button class="yxBtn yxBtn-Active yxBtn-xs" ng-Disabled="submiting" ng-click="exportForm()">
			    <div ng-hide="submiting">保存</div>
			    <div ng-show="submiting">
			        <span class="fa fa-spin fa-spinner"></span> 请求中...
			    </div>
			</button>
		</div>
	</div>
</div>
<div ng-show="editItem=='dz_protectEdit3'" class="yx-appContainer dz_protectEdit3 c2hasFilter">
	<!--编辑面板-->
	<div class="yx-appPanel yx-appEditPanel margin-bottom10">
		<div class="yx-appPanel-body no-top">
			<table class="editTable">
				<tr class="title">
					<td>
						<div class="urlBack" ng-click="editItem=''">
							<span class="icon iconfont icon-shiliangzhinengduixiang4"></span>
							返回
						</div>
					</td>
					<td colspan="2">配置无功补偿控制器</td>
				</tr>
				<tr>
					<td>保护编号</td>
					<td>1</td>
				</tr>
				<tr>
					<td>保护名称</td>
					<td>电容控制</td>
				</tr>
				<tr>
					<td>模拟量组</td>
					<td>
						<select name="" id="">
							<option value="">DL1</option>
							<option value="">DL1</option>
							<option value="">DL1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>过压保护（V）</td>
					<td>
						<input type="text" />
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
				<tr>
					<td>欠压保护</td>
					<td>
						<input type="text" />
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
				<tr>
					<td>电压谐波保护（%）</td>
					<td>
						<input type="text" />
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
				<tr>
					<td>电流谐波保护（%）</td>
					<td>
						<input type="text" />
					</td>
					<td>
						投入
						<span ng-class="{'checkbox-true':item.isShow,'checkbox-false':!item.isShow}">
		            		<label>
		            			<input type="checkbox" ng-model="item.isShow"/>
		            			<span>{{item.isShow?'是':'否'}}</span>
		            		</label>
		            	</span>
					</td>
				</tr>
				
				
				<tr>
					<td class="textTop">目标功率因数</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>投切门槛</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>投切延时（s）</td>
					<td>
						<select name="">
							<option value="">J2</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>单相电容路数</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>单相电容容量值（Kvar）</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>三相电容路数</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>三相电容容量值（Kvar）</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>通讯端口名称</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>通讯地址</td>
					<td>
						<input type="text" />
					</td>
				</tr>
				<tr>
					<td>波特率（bps）</td>
					<td>
						<input type="text" />
					</td>
				</tr>
			</table>
		</div>
		<div class="yx-appPanel-footer">
			<button class="yxBtn yxBtn-Active yxBtn-xs" ng-Disabled="submiting" ng-click="exportForm()">
			    <div ng-hide="submiting">保存</div>
			    <div ng-show="submiting">
			        <span class="fa fa-spin fa-spinner"></span> 请求中...
			    </div>
			</button>
		</div>
	</div>
</div>

