<div>
	<div class="yx-table margin-bottom10">
		<table class="yx-tableInfo">
			<thead>
				<tr>
					<td>组</td>
					<td ng-click="fenzuListSort('name')">
						
						<span class="orderIndicate" ng-show="sortKey=='name'">
							<span ng-show="sortNum<0" class="fa fa-fw fa-angle-up"></span>
							<span ng-show="sortNum>0" class="fa fa-fw fa-angle-down"></span>
						</span>名称
					</td>
					<td ng-click="fenzuListSort('value')">
						
						<span class="orderIndicate" ng-show="sortKey=='value'">
							<span ng-show="sortNum<0" class="fa fa-fw fa-angle-up"></span>
							<span ng-show="sortNum>0" class="fa fa-fw fa-angle-down"></span>
						</span>当前值
					</td>
				</tr>
			</thead>
			<tbody>
				<tbody  style="max-height: 610px;">
					<tr ng-repeat="item in groupList">
						<td title={{groupList[0].title}}>{{groupList[0].title}}</td>
						<td title={{item.data[0].name}}>{{item.data[0].name}}</td>
						<td title={{item.data[0].value}}>{{item.data[0].value}}</td>
					</tr>
				</tbody>
			</tbody>
		</table>
	</div>
</div>