<div class="DNZLLogWaveform waveform">
	<!--面板-->
	<div class="yx-appPanel margin-bottom10">
		<div class="yx-appPanel-header">
			<!--<div class="panelIcon">
				<span class="iconfont icon-liebiao"></span>
			</div>-->
			<!--ng-click="urlBackFun('main.power.DNZLZHCX.DNZLLog')"-->
			<div class="urlBack" ui-sref="main.power.DNZLZHCX.DNZLLog">
				<span class="icon iconfont icon-shiliangzhinengduixiang4"></span>
				返回
			</div>
			
			<div class="panelTitle">
				<span>面板</span>
			</div>
		</div>
		<div class="yx-appPanel-body" style="height: 630px;">
			<div class="pannelBody-items">
				<ul>
					<li ng-class="{checked:item.checked}" ng-repeat="item in series" ng-if="item.name!='时间'">
						<label>
							{{item.name}}
							<input ng-show="false" 
								ng-change="seriesChange()" 
								ng-model="item.checked" 
								type="checkbox" />
						</label>
					</li>
				</ul>
			</div>
			<div class="pannelBody-diagram">
				<div id="highstockcontainer" 
					style="min-width: 777px;min-height: 340px;" ></div>
			</div>
		</div>
		<!--<div class="yx-appPanel-footer" ng-show="pageInfo.data.length>0">
			<span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
		</div>-->
	</div>
</div>
