<div class="DNZLLog">
	<!--筛选-->
	<div class="yx-appPanel yx-appFilter margin-bottom10">
		<div class="yx-appPanel-header">
			<div class="panelIcon">
				<span class="iconfont icon-liebiao"></span>
			</div>
			<div class="panelTitle">
				<span>筛选</span>
			</div>
			<i class="btn-show" ng-show="showFilter" ng-click="showFilter=false"></i>
		</div>
		<div class="yx-appPanel-body" ng-hide="showFilter">
			<ul>
				<li>
					<div class="inline">
						<span>日期：</span>
						<input class="xqc-input width160 dataPicker_startTime"
							dateread="dnzllogParam.start_time"
							 ng-model="dnzllogParam.start_time"
							ng-value="dnzllogParam.start_time" 
							required/>&nbsp;-&nbsp;
						<input class="xqc-input width160 dataPicker_endTime"
							dateread="dnzllogParam.end_time" 
							ng-model="dnzllogParam.end_time"
							ng-value="dnzllogParam.end_time"
							required/>
						<span>分组：</span>
						<!--ng-options="item.GroupName for (key,item) in posIDs"-->
						<!--<select ng-model="msg">
							<option value={{item}} 
								ng-repeat="(key,item) in posIDs"
								ng-selected="key==0"
								>{{item.GroupName}}</option>
						</select>-->
						<select ng-options="item.GroupName for item in posIDs" ng-model="msg"></select>
						<!--<select ng-change="quickSearch()" ng-model="days">
							<option value="">快速选择</option>
							<option value="1">最近1天</option>
							<option value="7">最近7天</option>
							<option value="30">最近30天</option>
						</select>-->
						<button class="yxBtn yxBtn-Active" type="button" ng-click="getPowerQualityLog()" 
							ng-Disabled="searching||!dnzllogParam.start_time||!dnzllogParam.end_time||!msg">
	                        <div ng-hide="searching">查询</div>
	                        <div ng-show="searching">
	                            <span class="fa fa-spin fa-spinner"></span> 请求中...
	                        </div>
	                  	</button>
	                  	<button class="yxBtn yxBtn-Active" type="button" 
	                    	ng-Disabled="searching||!dnzlLogData" ui-sref='main.power.DNZLZHCX.DNZLLogWaveform'>
	                        <div ng-hide="searching">显示波形</div>
	                        <div ng-show="searching">
	                            <span class="fa fa-spin fa-spinner"></span> 请求中...
	                        </div>
	                    </button>
	                    <button class="yxBtn yxBtn-Active" type="button" ng-click="listExport()" 
							ng-Disabled="searching||!dnzlLogData">
	                        <div ng-hide="searching">导出</div>
	                        <div ng-show="searching">
	                            <span class="fa fa-spin fa-spinner"></span> 请求中...
	                        </div>
	                    </button>
					</div>
				</li>
			</ul>
		</div>
		<!--<div class="yx-appPanel-footer" ng-hide="showFilter">
			<i class="btn-hide" ng-click="showFilter=true"></i>
		</div>-->
	</div>
	<!--table表格-->
	<div class="yx-table margin-top10 superWidthTable">
		<table class="yx-tableInfo" style="min-width: 30000px;">
			<thead>
				<tr>
					<!--ng-click="listSort(item.ch,pageInfo.data)"-->
					<td title={{item.ch}} ng-repeat="item in titleList" >
						
						<!--<span class="orderIndicate" ng-show="sortKey==item.ch">
							<span ng-show="sortNum<0" class="fa fa-fw fa-angle-up"></span>
							<span ng-show="sortNum>0" class="fa fa-fw fa-angle-down"></span>
						</span>-->
						{{item.ch}}
					</td>
				</tr>
			</thead>
			<tbody style="    max-height: 530px;">
				<tr ng-repeat="items in pageInfo.data">
					<td title={{item.value}} ng-repeat="item in items">
						{{item.value}}
					</td>
				</tr>
			</tbody>	
		</table>
		<div ng-hide="pageInfo.data.length>0" class="m-md alert alert-warning text-center text-lg">暂无数据</div>
	</div>
	<span data-ng-include=" 'src/tpl/pageInfo.html' "></span>
</div>

